{% extends "base.html" %}

{% block content %}
<style>
                            form.survey_form {
                                        margin-left: auto;
                                        margin-right: auto;
                                        margin-top:60px;
                                        max-width: 500px;
                                        background-color: #993366;
                                        border: 1px solid gray;
                                        border-radius: 5px;
                                        padding: 10px;
                                        }
                            </style>
<form class="survey_form" >
    <p>Один из главных культурных трендов последних десятков лет — это
        идея безусловного равенства между людьми, из которой далее вытекает
        необходимость борьбы с любыми проявлениями дискриминации: по расовому
        , половому и прочим признакам. В образовании это материализовалось
        в виде инклюзии: такой модели обучения, когда мы одновременно воспитываем
        и учим нормативно развивающихся детей и детей, имеющих произвольные
        нарушения и особенности развития. Например, если у вашего ребенка в
        классе есть один аутист и пять обладателей дефицита внимания
        с гиперактивностью, этот класс можно считать инклюзивным.
</p>
</form>
{% endblock %}